<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Feedback Page</title>
        <link href="/styles/styles.css" rel="stylesheet" type="text/css" />
        <script src="/script.js"></script>
        <style>main {height: 100vh; display: flex; justify-content: center; align-items: center;} .feedback{display: flex; justify-content: center; position: absolute; width: 65%; height: 65%; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;} #feedback-form h2 {color: #1d571d;} #feedback-form { margin-top: 5%; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: white; box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2); position: relative; } form textarea { width: 100%; height: 60%; padding: 1%; font-size: 18px; border: 1px solid #ccc; border-radius: 5px; position: relative; top: -20px;} form button[type="submit"] { width: 80%; padding: 10px; margin-top: 80px; font-size: 16px; border: none; border-radius: 5px; background-color: green; color: white; cursor: pointer; transition: background-color 0.3s ease;} form button[type="enter"]:hover {background-color: #68c268;} form .ratings {display: flex; justify-content: space-evenly; width: 100%; position:  relative; top: 30px;} form .ratings button {width: 40px; height: 40px; border-radius: 50%; border: none; background-color: #ccc; cursor: pointer; transition: background-color 0.3s;} .ratings button:hover {background-color: #c879f0;} .ratings button:focus{outline: 3px; box-shadow: 0 0 5px #c879f0;} .ratings button:active, .ratings button.active {outline: none; background-color: #c879f0; box-shadow: 0 0 5px #c879f0;} ul.feedback-list {list-style-type: none; padding: 0; margin: 0;}  ul.feedback-list li {margin-bottom: 20px; border: 1px solid #ccc;  border-radius: 5px; padding: 10px; background-color: #f9f9f9;} ul.feedback-list li strong {color: #333;}</style>
    </head>    
    <body>
        <header>
            <a href="/home" class="logo">
                <p class="shape-logo">SHAPE</p>
                <p class="shift-logo">SHIFT</p>
            </a> 
            <nav>
                <ul class="nav-links">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/calculator.html">BMI Calculator</a></li>
                    <li><a href="/feedback">Reviews</a></li>
                    <li><a href="/fitnessPlan">Fitness Plan</a></li>
                </ul>

                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown()">Menu</button>
                    <div class="dropdown-content" id="myDropdown">
                        <a href="calculator.html">BMI Calculator</a>
                        <a href="/feedback">Feedback</a>
                        <a href="/fitnessPlan">Fitness Plan</a>
                        <a href="/log-out">Log Out</a>
                    </div>
                </div>
            </nav>
            <div class="sign-up">
                <a class="sign-up-text" href="/log-out">Log Out</a>
                <a href="/profile"><img class="profile" src="profile.svg" alt="Profile icon"></a>
            </div>
        </header>
        <main>
            <div class="feedback">
                <form id ="feedback-form" action ="/submit-feedback" method="POST">
                    <h2>Reviews/Feedback Form</h2>
                    <br>
                    <h3 id="name"><%= userName %></h3>
                    <br>
                    <textarea id="feedback-box" name="feedback-box" required></textarea>
                    <br>
                    <div class="ratings">
                        <button type="button" value="1">1</button>
                        <button type="button" value="2">2</button>
                        <button type="button" value="3">3</button>
                        <button type="button" value="4">4</button>
                        <button type="button" value="5">5</button>
                    </div>
                    <br>
                    <button type="submit">Add post</button>
                </form>
            </div>
        </main>
        <ul class="feedback-list">
            <% feedback.forEach((item) => { %>
                <li>
                    <strong>Name:</strong> <%= item.name %><br>
                    <strong>Rate:</strong> <%= item.rate %><br>
                    <strong>Content:</strong> <%= item.post_content %><br>
                    <strong>Date:</strong> <%= item.post_date %><br>
                </li>
            <% }); %>
        </ul>
        <script src="/addReview.js"></script>
    </body>

</html>